DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=
VITE_GRAPHQL_ENDPOINT=http://localhost:4000/graphql
GRAPHQL_ENDPOINT=http://localhost:4000/graphql
EXPO_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:4000/graphql

APP_ENV=local
API_AUTH_BYPASS_FOR_E2E=false
